<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite">
    <test name="Test Function" preserve-order= "true" verbose="5">
        <classes>
            <class name="LoginTest"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->